<app-header></app-header>
<div class="container card-container">
    <div class="row">
        <div class="col-6 content">
            <h1 class="heading">Clothes That Get YOU Noticed</h1>
      
            <p class="description">
                Fashion is part of the daily air and it does not quite help that it
                changes all the time. Clothes have always been a marker of the era and
                we are in a revolution. Your fashion makes you been seen and heard
                that way you are. So, celebrate the seasons new and exciting fashion
                in your own way.
            </p>
      
            <button routerLink="/products" type="button" class="button">
            Shop Now
            </button>
        </div>
        <div class="col-6">
            <img
                src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-home-img.png"
                alt="clothes that get you noticed"
                class="image"
            />
        </div>
    </div>
</div>